In [1]:
import pandas as pd
import numpy as np

In [40]:
pd.read_csv('zoo.csv' , delimiter = ',')

    Unnamed: 0    animal  uniq_id  water_need
0            0  elephant     1001         500
1            1  elephant     1002         600
2            2  elephant     1003         550
3            3     tiger     1004         300
4            4     tiger     1005         320
5            5     tiger     1006         330
6            6     tiger     1007         290
7            7     tiger     1008         310
8            8     zebra     1009         200
9            9     zebra     1010         220
10          10     zebra     1011         240
11          11     zebra     1012         230
12          12     zebra     1013         220
13          13     zebra     1014         100
14          14     zebra     1015          80
15          15      lion     1016         420
16          16      lion     1017         600
17          17      lion     1018         500
18          18      lion     1019         390
19          19  kangaroo     1020         410
20          20  kangaroo     1021         430
21          21  kangaroo     1022         410

In [41]:
pd.read_csv('zoo_eats.csv' , delimiter = ';')

            ,animal,food
0  0,elephant,vegetables
1           1,tiger,meat
2  2,kangaroo,vegetables
3     3,zebra,vegetables
4    4,giraffe,vegetable

In [42]:
zoo_eats = pd.read_csv('zoo_eats.csv' , delimiter = ';')

In [43]:
zoo = pd.read_csv('zoo.csv' , delimiter = ',')

In [45]:
zoo.sort_values('water_need')

    Unnamed: 0    animal  uniq_id  water_need
14          14     zebra     1015          80
13          13     zebra     1014         100
8            8     zebra     1009         200
9            9     zebra     1010         220
12          12     zebra     1013         220
11          11     zebra     1012         230
10          10     zebra     1011         240
6            6     tiger     1007         290
3            3     tiger     1004         300
7            7     tiger     1008         310
4            4     tiger     1005         320
5            5     tiger     1006         330
18          18      lion     1019         390
19          19  kangaroo     1020         410
21          21  kangaroo     1022         410
15          15      lion     1016         420
20          20  kangaroo     1021         430
17          17      lion     1018         500
0            0  elephant     1001         500
2            2  elephant     1003         550
16          16      lion     1017         600
1            1  elephant     1002         600

In [46]:
zoo.sort_values(by=['animal','water_need'])

    Unnamed: 0    animal  uniq_id  water_need
0            0  elephant     1001         500
2            2  elephant     1003         550
1            1  elephant     1002         600
19          19  kangaroo     1020         410
21          21  kangaroo     1022         410
20          20  kangaroo     1021         430
18          18      lion     1019         390
15          15      lion     1016         420
17          17      lion     1018         500
16          16      lion     1017         600
6            6     tiger     1007         290
3            3     tiger     1004         300
7            7     tiger     1008         310
4            4     tiger     1005         320
5            5     tiger     1006         330
14          14     zebra     1015          80
13          13     zebra     1014         100
8            8     zebra     1009         200
9            9     zebra     1010         220
12          12     zebra     1013         220
11          11     zebra     1012         230
10          10     zebra     1011         240

In [47]:
zoo.sort_values('water_need', ascending = False)

    Unnamed: 0    animal  uniq_id  water_need
1            1  elephant     1002         600
16          16      lion     1017         600
2            2  elephant     1003         550
0            0  elephant     1001         500
17          17      lion     1018         500
20          20  kangaroo     1021         430
15          15      lion     1016         420
19          19  kangaroo     1020         410
21          21  kangaroo     1022         410
18          18      lion     1019         390
5            5     tiger     1006         330
4            4     tiger     1005         320
7            7     tiger     1008         310
3            3     tiger     1004         300
6            6     tiger     1007         290
10          10     zebra     1011         240
11          11     zebra     1012         230
9            9     zebra     1010         220
12          12     zebra     1013         220
8            8     zebra     1009         200
13          13     zebra     1014         100
14          14     zebra     1015          80

In [49]:
zoo.sort_values('water_need', ascending = False).reset_index(drop = True)

    Unnamed: 0    animal  uniq_id  water_need
0            1  elephant     1002         600
1           16      lion     1017         600
2            2  elephant     1003         550
3            0  elephant     1001         500
4           17      lion     1018         500
5           20  kangaroo     1021         430
6           15      lion     1016         420
7           19  kangaroo     1020         410
8           21  kangaroo     1022         410
9           18      lion     1019         390
10           5     tiger     1006         330
11           4     tiger     1005         320
12           7     tiger     1008         310
13           3     tiger     1004         300
14           6     tiger     1007         290
15          10     zebra     1011         240
16          11     zebra     1012         230
17           9     zebra     1010         220
18          12     zebra     1013         220
19           8     zebra     1009         200
20          13     zebra     1014         100
21          14     zebra     1015          80

In [51]:
!wget 46.101.230.157/dilan/pandas_tutorial_buy.csv

'wget' is not recognized as an internal or external command,
operable program or batch file.

In [52]:
pd.read_csv('pandas_tutorial_buy.csv', delimiter = ';', names = ['my_date_time', 'event', 'user_id', 'amount'])

                         my_date_time       event  user_id         amount
2018-01-01 00:01:01 read    country_7  2458151261      SEO  North America
2018-01-01 00:03:20 read    country_7  2458151262      SEO  South America
2018-01-01 00:04:01 read    country_7  2458151263  AdWords         Africa
2018-01-01 00:04:02 read    country_7  2458151264  AdWords         Europe
2018-01-01 00:05:03 read    country_8  2458151265   Reddit  North America
2018-01-01 00:05:42 read    country_6  2458151266   Reddit  North America
2018-01-01 00:06:06 read    country_2  2458151267   Reddit         Europe
2018-01-01 00:06:15 read    country_6  2458151268  AdWords         Europe
2018-01-01 00:07:21 read    country_7  2458151269  AdWords  North America
2018-01-01 00:07:29 read    country_5  2458151270   Reddit  North America
2018-01-01 00:07:57 read    country_5  2458151271  AdWords           Asia
2018-01-01 00:08:57 read    country_7  2458151272      SEO      Australia
2018-01-01 00:09:11 read    country_5  2458151273   Reddit           Asia
2018-01-01 00:09:29 read    country_2  2458151274   Reddit         Europe
2018-01-01 00:11:06 read    country_7  2458151275   Reddit         Africa
2018-01-01 00:11:22 read    country_7  2458151276      SEO  North America
2018-01-01 00:13:05 read    country_8  2458151277      SEO  North America
2018-01-01 00:13:06 read    country_2  2458151278   Reddit           Asia
2018-01-01 00:13:39 read    country_4  2458151279      SEO  North America
2018-01-01 00:14:53 read    country_2  2458151280   Reddit           Asia
2018-01-01 00:15:44 read    country_2  2458151281   Reddit           Asia
2018-01-01 00:15:50 read    country_7  2458151282   Reddit         Africa
2018-01-01 00:17:15 read    country_2  2458151283  AdWords         Europe
2018-01-01 00:17:31 read    country_2  2458151284   Reddit           Asia
2018-01-01 00:17:58 read    country_7  2458151285   Reddit         Africa
2018-01-01 00:18:55 read    country_2  2458151286  AdWords  North America
2018-01-01 00:20:18 read    country_5  2458151287      SEO  North America
2018-01-01 00:20:44 read    country_2  2458151288      SEO  North America
2018-01-01 00:23:16 read    country_2  2458151289   Reddit           Asia
2018-01-01 00:23:51 read    country_7  2458151290   Reddit           Asia
...                               ...         ...      ...            ...
2018-01-01 23:41:11 read    country_2  2458153026   Reddit         Africa
2018-01-01 23:41:51 read    country_5  2458153027  AdWords           Asia
2018-01-01 23:43:54 read    country_5  2458153028  AdWords         Europe
2018-01-01 23:44:52 read    country_8  2458153029   Reddit  South America
2018-01-01 23:45:09 read    country_5  2458153030  AdWords      Australia
2018-01-01 23:45:12 read    country_6  2458153031   Reddit           Asia
2018-01-01 23:45:56 read    country_5  2458153032  AdWords         Africa
2018-01-01 23:45:58 read    country_7  2458153033      SEO  South America
2018-01-01 23:46:13 read    country_8  2458153034   Reddit           Asia
2018-01-01 23:46:22 read    country_2  2458153035  AdWords           Asia
2018-01-01 23:47:19 read    country_2  2458153036  AdWords           Asia
2018-01-01 23:49:04 read    country_6  2458153037   Reddit           Asia
2018-01-01 23:49:52 read    country_5  2458153038      SEO  North America
2018-01-01 23:51:17 read    country_2  2458153039   Reddit           Asia
2018-01-01 23:51:25 read    country_4  2458153040      SEO  South America
2018-01-01 23:51:46 read    country_8  2458153041  AdWords         Africa
2018-01-01 23:51:52 read    country_2  2458153042   Reddit           Asia
2018-01-01 23:53:03 read    country_2  2458153043  AdWords           Asia
2018-01-01 23:53:33 read    country_3  2458153044   Reddit           Asia
2018-01-01 23:54:03 read    country_2  2458153045      SEO  North America
2018-01-01 23:54:26 read    country_2  2458153046  AdWords         Africa
2018-01-01 23:54:39 read    country_6  2458153047   Reddit           Asia
2018-01-01 23:54:45 read    country_2  2458153048   Reddit           Asia
2018-01-01 23:55:04 read    country_7  2458153049  AdWords         Europe
2018-01-01 23:56:42 read    country_4  2458153050  AdWords           Asia
2018-01-01 23:57:14 read    country_2  2458153051  AdWords  North America
2018-01-01 23:58:33 read    country_8  2458153052      SEO           Asia
2018-01-01 23:59:36 read    country_6  2458153053   Reddit           Asia
                    read    country_7  2458153054  AdWords         Europe
2018-01-01 23:59:38 read    country_5  2458153055   Reddit           Asia

[1795 rows x 4 columns]

In [53]:
blog_buy = pd.read_csv('pandas_tutorial_buy.csv', delimiter = ';', names = ['my_date_time', 'event', 'user_id', 'amount'])

In [54]:
article_read = pd.read_csv('pandas_tutorial_read.csv',delimiter = ';', names = ['my_datetime','event','country','user_id','source','topic'])

In [55]:
article_read

              my_datetime event    country     user_id   source          topic
0     2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
1     2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
2     2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
3     2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
4     2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America
5     2018-01-01 00:05:42  read  country_6  2458151266   Reddit  North America
6     2018-01-01 00:06:06  read  country_2  2458151267   Reddit         Europe
7     2018-01-01 00:06:15  read  country_6  2458151268  AdWords         Europe
8     2018-01-01 00:07:21  read  country_7  2458151269  AdWords  North America
9     2018-01-01 00:07:29  read  country_5  2458151270   Reddit  North America
10    2018-01-01 00:07:57  read  country_5  2458151271  AdWords           Asia
11    2018-01-01 00:08:57  read  country_7  2458151272      SEO      Australia
12    2018-01-01 00:09:11  read  country_5  2458151273   Reddit           Asia
13    2018-01-01 00:09:29  read  country_2  2458151274   Reddit         Europe
14    2018-01-01 00:11:06  read  country_7  2458151275   Reddit         Africa
15    2018-01-01 00:11:22  read  country_7  2458151276      SEO  North America
16    2018-01-01 00:13:05  read  country_8  2458151277      SEO  North America
17    2018-01-01 00:13:06  read  country_2  2458151278   Reddit           Asia
18    2018-01-01 00:13:39  read  country_4  2458151279      SEO  North America
19    2018-01-01 00:14:53  read  country_2  2458151280   Reddit           Asia
20    2018-01-01 00:15:44  read  country_2  2458151281   Reddit           Asia
21    2018-01-01 00:15:50  read  country_7  2458151282   Reddit         Africa
22    2018-01-01 00:17:15  read  country_2  2458151283  AdWords         Europe
23    2018-01-01 00:17:31  read  country_2  2458151284   Reddit           Asia
24    2018-01-01 00:17:58  read  country_7  2458151285   Reddit         Africa
25    2018-01-01 00:18:55  read  country_2  2458151286  AdWords  North America
26    2018-01-01 00:20:18  read  country_5  2458151287      SEO  North America
27    2018-01-01 00:20:44  read  country_2  2458151288      SEO  North America
28    2018-01-01 00:23:16  read  country_2  2458151289   Reddit           Asia
29    2018-01-01 00:23:51  read  country_7  2458151290   Reddit           Asia
...                   ...   ...        ...         ...      ...            ...
1765  2018-01-01 23:41:11  read  country_2  2458153026   Reddit         Africa
1766  2018-01-01 23:41:51  read  country_5  2458153027  AdWords           Asia
1767  2018-01-01 23:43:54  read  country_5  2458153028  AdWords         Europe
1768  2018-01-01 23:44:52  read  country_8  2458153029   Reddit  South America
1769  2018-01-01 23:45:09  read  country_5  2458153030  AdWords      Australia
1770  2018-01-01 23:45:12  read  country_6  2458153031   Reddit           Asia
1771  2018-01-01 23:45:56  read  country_5  2458153032  AdWords         Africa
1772  2018-01-01 23:45:58  read  country_7  2458153033      SEO  South America
1773  2018-01-01 23:46:13  read  country_8  2458153034   Reddit           Asia
1774  2018-01-01 23:46:22  read  country_2  2458153035  AdWords           Asia
1775  2018-01-01 23:47:19  read  country_2  2458153036  AdWords           Asia
1776  2018-01-01 23:49:04  read  country_6  2458153037   Reddit           Asia
1777  2018-01-01 23:49:52  read  country_5  2458153038      SEO  North America
1778  2018-01-01 23:51:17  read  country_2  2458153039   Reddit           Asia
1779  2018-01-01 23:51:25  read  country_4  2458153040      SEO  South America
1780  2018-01-01 23:51:46  read  country_8  2458153041  AdWords         Africa
1781  2018-01-01 23:51:52  read  country_2  2458153042   Reddit           Asia
1782  2018-01-01 23:53:03  read  country_2  2458153043  AdWords           Asia
1783  2018-01-01 23:53:33  read  country_3  2458153044   Reddit           Asia
1784  2018-01-01 23:54:03  read  country_2  2458153045      SEO  North America
1785  2018-01-01 23:54:26  read  country_2  2458153046  AdWords         Africa
1786  2018-01-01 23:54:39  read  country_6  2458153047   Reddit           Asia
1787  2018-01-01 23:54:45  read  country_2  2458153048   Reddit           Asia
1788  2018-01-01 23:55:04  read  country_7  2458153049  AdWords         Europe
1789  2018-01-01 23:56:42  read  country_4  2458153050  AdWords           Asia
1790  2018-01-01 23:57:14  read  country_2  2458153051  AdWords  North America
1791  2018-01-01 23:58:33  read  country_8  2458153052      SEO           Asia
1792  2018-01-01 23:59:36  read  country_6  2458153053   Reddit           Asia
1793  2018-01-01 23:59:36  read  country_7  2458153054  AdWords         Europe
1794  2018-01-01 23:59:38  read  country_5  2458153055   Reddit           Asia

[1795 rows x 6 columns]

In [56]:
blog_buy.sort_values(by = 'my_date_time')

                         my_date_time       event  user_id         amount
2018-01-01 18:01:11 read    country_1  2458152585      SEO         Europe
2018-01-01 15:46:00 read    country_1  2458152431      SEO  North America
2018-01-01 02:31:25 read    country_1  2458151436  AdWords         Europe
2018-01-01 12:40:25 read    country_1  2458152209  AdWords           Asia
2018-01-01 10:40:49 read    country_1  2458152052      SEO  South America
2018-01-01 05:13:09 read    country_1  2458151642      SEO  North America
2018-01-01 12:42:58 read    country_1  2458152216   Reddit      Australia
2018-01-01 05:47:29 read    country_1  2458151680  AdWords           Asia
2018-01-01 04:26:24 read    country_1  2458151597  AdWords  North America
2018-01-01 18:26:07 read    country_1  2458152623   Reddit         Africa
2018-01-01 23:13:57 read    country_1  2458152983  AdWords         Europe
2018-01-01 13:47:11 read    country_1  2458152287   Reddit           Asia
2018-01-01 05:43:20 read    country_1  2458151674  AdWords      Australia
2018-01-01 16:25:35 read    country_1  2458152470   Reddit           Asia
2018-01-01 07:43:58 read    country_1  2458151824   Reddit           Asia
2018-01-01 17:17:37 read    country_1  2458152540  AdWords         Europe
2018-01-01 11:59:05 read    country_1  2458152146   Reddit           Asia
2018-01-01 03:11:22 read    country_1  2458151490   Reddit  South America
2018-01-01 19:06:48 read    country_1  2458152665   Reddit           Asia
2018-01-01 14:51:58 read    country_1  2458152372   Reddit         Europe
2018-01-01 01:20:04 read    country_1  2458151351  AdWords         Europe
2018-01-01 05:15:08 read    country_1  2458151644      SEO  North America
2018-01-01 08:58:50 read    country_1  2458151917      SEO  North America
2018-01-01 16:59:56 read    country_1  2458152518      SEO           Asia
2018-01-01 10:04:56 read    country_1  2458152006  AdWords           Asia
2018-01-01 09:56:00 read    country_1  2458151991   Reddit         Europe
2018-01-01 12:08:14 read    country_1  2458152164   Reddit         Europe
2018-01-01 04:10:59 read    country_1  2458151570  AdWords           Asia
2018-01-01 03:52:12 read    country_1  2458151544   Reddit           Asia
2018-01-01 09:58:13 read    country_1  2458151994   Reddit           Asia
...                               ...         ...      ...            ...
2018-01-01 03:56:21 read    country_8  2458151556      SEO           Asia
2018-01-01 03:52:29 read    country_8  2458151545   Reddit           Asia
2018-01-01 22:53:52 read    country_8  2458152956  AdWords           Asia
2018-01-01 04:18:57 read    country_8  2458151584   Reddit         Africa
2018-01-01 13:41:29 read    country_8  2458152275      SEO  North America
2018-01-01 13:40:48 read    country_8  2458152273  AdWords           Asia
2018-01-01 05:36:13 read    country_8  2458151664  AdWords           Asia
2018-01-01 20:10:29 read    country_8  2458152741      SEO  South America
2018-01-01 06:56:26 read    country_8  2458151777   Reddit  South America
2018-01-01 21:48:29 read    country_8  2458152871   Reddit           Asia
2018-01-01 06:53:32 read    country_8  2458151772   Reddit           Asia
2018-01-01 21:52:25 read    country_8  2458152876      SEO  North America
2018-01-01 06:42:16 read    country_8  2458151760      SEO  North America
2018-01-01 12:30:18 read    country_8  2458152195  AdWords  North America
2018-01-01 21:59:03 read    country_8  2458152885      SEO  North America
2018-01-01 12:42:18 read    country_8  2458152215   Reddit           Asia
2018-01-01 06:15:39 read    country_8  2458151725   Reddit           Asia
2018-01-01 19:53:21 read    country_8  2458152722  AdWords      Australia
2018-01-01 12:52:44 read    country_8  2458152227  AdWords         Europe
2018-01-01 22:06:43 read    country_8  2458152897  AdWords         Europe
2018-01-01 06:05:46 read    country_8  2458151710      SEO  North America
2018-01-01 06:01:08 read    country_8  2458151702      SEO  South America
2018-01-01 22:09:54 read    country_8  2458152903  AdWords           Asia
2018-01-01 05:56:42 read    country_8  2458151694   Reddit  North America
2018-01-01 05:54:37 read    country_8  2458151692  AdWords           Asia
2018-01-01 05:54:21 read    country_8  2458151691   Reddit         Europe
2018-01-01 13:31:53 read    country_8  2458152262   Reddit         Africa
2018-01-01 13:32:45 read    country_8  2458152264      SEO  South America
2018-01-01 07:04:57 read    country_8  2458151785  AdWords         Europe
2018-01-01 08:27:39 read    country_8  2458151888  AdWords  North America

[1795 rows x 4 columns]

In [57]:
step_1 = article_read.merge(blog_buy, how = 'left', left_on = 'user_id', right_on = 'user_id')
step_2 = step_1.amount
step_3 = step_2.fillna(0)
result = step_3.mean()
result

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat

In [58]:
step_1

NameError: name 'step_1' is not defined

In [60]:
step_1 = article_read.merge(blog_buy, how = 'left', left_on = 'user_id', right_on = 'user_id')
step_2 = step_1.fillna(0)
step_3 = step_2.groupby('country').sum()
step_4 = step_3.amount
step_5 = step_4.sort_values(ascending = False)
step_5.head(3)

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat